*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  cursor: none ;
}
body{
  background-color: rgb(0, 67, 149);
  color: #fff;
  display: flex;
  justify-content: center;
}
.heading{
  font-size: 3.5em;
  margin: 1em 0;
  text-align: center;
}
.score{
  font-size: 2em;
  margin: 0.5em 0;
  text-align: center;
}
.highscore{
  font-size: 2em;
  margin: 1.5em 0;
  text-align: center;
  position: relative;
}
.contdeholes{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 1em;
justify-items: center;
}

.hole{
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  transition: box-shadow 0.15s
    color 0.15s;            
  }
  .hole:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.357);
    }

.mole{
  position:absolute;
  z-index: 1;
  height: 60px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: appear 0.3s linear;
  pointer-events: none;
}
@keyframes appear{
  from{
    bottom: -60px;
  }
  to{
    bottom: 0;
  }
}
.buttons{
  margin-top: 3em;
  text-align: center;
}
.buttons button{
  padding: 15px 45px;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s,
      color 0.3s;
  
}
.buttons button:hover{
  background-color:rgb(252, 252, 252);
    color: rgb(0, 67, 149);;
    
}
button.stop{
  display: none;  
}
.cursor img{
  position: absolute;
  height: 125px;
  z-index: 2;
  transform: translate(-10px, -40px);
  pointer-events: none;
}
@keyframes hit{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-30deg);
  }
}

.timer{
  font-size: 3em;
  border: none;
  margin: 0.5em 0;
  padding: 2em 8em;
  border-radius: 45px;
  border-style: solid;
  border-color: white;
  vertical-align: top;
  border-width: 2px;
  padding-left: 175px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.seconds{
  display: center;
}